main.detalhesPokemon {
  text-align: center;
}

main.detalhesPokemon .nomeSetas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

main.detalhesPokemon .nomeSetas button {
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

main.detalhesPokemon .nomeSetas button img {
  width: 2rem;
  height: 2rem;
}
main.detalhesPokemon .nomeSetas button.setaDireita {
  rotate: 180deg;
}

main.detalhesPokemon h1 {
  text-transform: capitalize;
  margin: 2rem 0;
}

main.detalhesPokemon h2 {
  color: white;
  margin: 1rem 0;
}

main.detalhesPokemon ul {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.7rem 1rem 1rem;
}

main.detalhesPokemon ul.tipoCor li {
  text-transform: capitalize;
  padding: 0.25rem 0.3rem 0.4rem;
  border-radius: 0.8rem;
  color: "#fff";
  display: inline-block;
  margin: 0.2rem;
}

main.detalhesPokemon ul li h3 {
  text-transform: capitalize;
  padding: 0.5rem 0;
}

main.detalhesPokemon ul li p {
  font-size: 1.1rem;
}

main.detalhesPokemon ul.movimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: column;
}

main.detalhesPokemon ul.movimentos li {
  border: 1px solid #00000033;
  flex-direction: column;
  border-radius: 1rem;
}
